@media only screen and (max-width:480.5px)
{
    .desktop-header 
    {
        display: none;
    }
    .mobile-header
    {
        position: sticky;
        top: 0px;
        z-index: 9999;
        background-color: white;
        display: block;
        padding: 5px 20px;
    }
    .mobile-header-mid>figure>img 
    {
        width: 120px;
        height: 45px;
    }
    .mobile-header-mid>.login-btn>.mobile-login-btn
    {
        font-weight:500;
        font-size: 17px;
        color: black;
    }
    .banner-content .banner-bottom 
    {
        margin-top: 10px;
    }
    .banner-content .banner-heading h1 
    {
        font-size: 29px;
        text-align: center;
    }
    .banner-content
    {
        gap: 12px;
    }
    .banner-footer
    {
        flex-direction: column;
        align-items: center;
    }
    .banner-footer 
    {
        display: none;
    }
    .banner-footer-mobile
    {
        width: 100%;
        display: block;
        background-color: rgba(0, 0, 0, 0.689);
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.522);
        margin-top:30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 10px 0px;
    }
    .marketing-service>h3 
    {
        font-size:14px;
    }
    .rating>h3 
    {
        font-size: 14px;
        padding: 0px 5px;
    }
    .sucess-stories>h3 
    {
        font-size: 14px;
    }
    .exp-middle 
    {
        padding: 0px 20px;
    }
    .exp-heading h2
    {
        font-size:28px;
        text-align: center;
    }
    .exp-list
    {
        flex-direction: column;
    }
    .same 
    {
        margin-bottom: 20px;
        text-align: center;
    }
    .exp-list-para
    {
        text-align: justify;
    }
    .exp-banner 
    {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top:0px;
    }
    .banner-content
    {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .exp-banner button 
    {
        margin: auto;
    }
}
@media only screen and (min-width:481px) and (max-width:767.5px)
{
    .desktop-header 
    {
        display: none;
    }
    .mobile-header
    {
        position: sticky;
        top: 0px;
        z-index: 9999;
        background-color: white;
        display: block;
        padding: 0px 40px;
    }
    .mobile-header-mid>figure>img 
    {
        width: 130px;
        height: 55px;
    }
    .mobile-header-mid>.login-btn>button
    {
        font-weight:500;
        font-size: 17px;
    }
    .banner-content .banner-bottom 
    {
        margin-top: 10px;
    }
    .banner-content .banner-heading h1 
    {
        font-size: 29px;
        text-align: center;
    }
    .banner-content
    {
        gap: 12px;
    }
    .banner-footer
    {
        flex-direction: column;
        align-items: center;
    }
    .banner-footer 
    {
        display: none;
    }
    .banner-footer-mobile
    {
        width: 100%;
        display: block;
        background-color: rgba(0, 0, 0, 0.689);
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.814);
        margin-top:30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 20px 0px;
    }
    .marketing-service>h3 
    {
        font-size:14px;
    }
    .rating>h3 
    {
        font-size: 14px;
        padding: 0px 5px;
    }
    .sucess-stories>h3 
    {
        font-size: 14px;
    }
    .exp-middle 
    {
        padding: 0px 20px;
    }
    .exp-heading h2
    {
        font-size:28px;
        text-align: center;
    }
    .exp-list
    {
        flex-direction: column;
    }
    .same 
    {
        margin-bottom: 20px;
        text-align: center;
    }
    .exp-list-para
    {
        text-align: justify;
    }
    .exp-banner 
    {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top:0px;
    }
    .banner-content
    {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .exp-banner button 
    {
        margin: auto;
    }
}
@media only screen and (min-width:768px) and (max-width:991.5px)
{
    header
    {
        padding:10px 50px;
    }
    header .logo
    {
        padding-left: 0px;
    }
    header nav ul 
    {
        padding-left: 0px;
        justify-content: flex-end;
    }
    .banner-footer 
    {
        display: none;
    }
    .banner-footer-mobile
    {
        width: 100%;
        display: block;
        background-color: rgba(0, 0, 0, 0.689);
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.814);
        margin-top:30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 20px 0px;
    }
    .marketing-service>h3 
    {
        font-size:14px;
        margin: 0px 5px;
    }
    .rating>h3 
    {
        font-size: 14px;
        padding: 0px 5px;
        margin: 0px 5px;
    }
    .sucess-stories>h3 
    {
        font-size: 14px;
        margin: 0px 5px;
    }
    .exp-middle 
    {
        padding: 0px 20px;
    }
}
@media only screen and (min-width:992px) and (max-width:1199.5px)
{
    header
    {
        padding:10px 50px;
    }
    header .logo
    {
        padding-left: 0px;
    }
    header nav ul 
    {
        padding-left: 0px;
        justify-content: flex-end;
    }
    .exp-middle 
    {
        padding: 0px 20px;
    }
}
@media only screen and (min-width:1200px) and (max-width:1399.5px)
{
    header
    {
        padding:17px 50px;
    }
    header .logo
    {
        padding-left: 112px;
    }
}
@media only screen and (min-width:1400px) 
{}